header{
    /*height: 100px;*/
    padding: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 15px;
    width: 70px;
}
main{
    height: 400px;
    background-color: aquamarine;
    display: flex;
    justify-items: center;
    justify-content: space-between; 
}

.card{
    height: 250px;
    width: 250px;

}



footer{
    height: 250px;
    background-color: azure;
}


