header{
    /*height: 100px;*/
    padding: 15px;
    background-color: orange;
    display: flex;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

.logo{
    height: 20px;
    width: 100px;
}
main{
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    justify-items: center;
    justify-content: space-between; 
}

.card{
    height: 250px;
    width: 250px;

}



footer{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.432);
}


